<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>Certificate</title>
</head>
<body>
    <div class="cert">
        <h1>Death Certificate</h1>
        <h4>This is to acknowledge the death of</h4>
        <h4><%= patient.Name%> <%=patient.Surname%></h4>
        <h4>On <%=dod%> in <%=pod%> </h4>
        <h4>Cause of death : <br> <%=cod%></h4>
    </div>
</body>
</html>